.projectBoardLayout{
  margin-top:30px;

}

.boardTitle{
  font-size: 20px;
}

.rightBorder{
  border-right: solid 2px #e5e5e5;
}

.dragPlaceholder{
  border: dashed 2px #e5e5e5;
}

.taskTitle{
  font-size: 18px;
}

.assignedTo{
  font-style: italic;
  font-size:12px;
}


.stateLayout{
  float:left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.boardsLayout{
  float:left;
  position: relative;
  min-height: 75px;
  padding-right: 15px;
  padding-left: 15px;
  border-right:dashed 2px #e5e5e5;
}

.boardRightBorder{
  border-right: dashed 2px #e5e5e5;
}

.boardLeftBorder{
  border-left: dashed 2px #e5e5e5;
}

.btnMarginLeft{
  margin-left:12px;
}

.dropzone{
  min-height: 100px;
  min-width:175px;
  border: dashed 2px #e5e5e5;
}

.dropzone .dropitem{
  visibility: hidden;
}

.lalala{
  min-height:200px;
  min-width:175px;
}

.deadlineOver{
  color: #ff6666;
}

.lazyTime{
  font-size: 14px;
}

.deadlineClose{
  color: #555;
}

h3, .boardTitles{
  font-size: 18px
}

.boardDescription{
  margin-bottom:25px;
  min-height:125px;
}

.otherBoardsLayout{
  font-size: 18px;
  font-weight: bold;
  display:block;
  text-align: center;
  margin:10px;
}

.arrow_box {
  margin-bottom:10px;
  position: absolute;
  top:-165px;
  background: #88b7d5;
  border: 4px solid #c2e1f5;
}
.arrow_box:after, .arrow_box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #88b7d5;
  border-width: 50px;
  margin-left: -50px;
}
.arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-top-color: #c2e1f5;
  border-width: 56px;
  margin-left: -56px;
}

.logo{
  color: #ddf8c6;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.my-animation.ng-hide-add,
.my-animation.ng-hide-remove{
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
  display:block!important;
}
.my-animation.ng-hide-remove {
  opacity:0;
}
.my-animation.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}
.my-animation.ng-hide-add {
  opacity:1;
}
.my-animation.ng-hide-add.ng-hide-add-active {
  opacity:0;
}

.noListStyleType{
  list-style-type: none;
}
