.projectBoardLayout{
  margin-top:30px;

}

.boardTitle{
  font-size: 20px;
}

.rightBorder{
  border-right: solid 2px #e5e5e5;
}

.dragPlaceholder{
  border: dashed 2px #e5e5e5;
}

.taskTitle{
  font-size: 18px;
}

.assignedTo{
  font-style: italic;
  font-size:12px;
}


.stateLayout{
  float:left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.boardsLayout{
  float:left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.boardRightBorder{
  border-right: dashed 2px #e5e5e5;
}

.boardLeftBorder{
  border-left: dashed 2px #e5e5e5;
}

.btnMarginLeft{
  margin-left:12px;
}

.dropzone{
  min-height: 100px;
  min-width:175px;
  border: dashed 2px #e5e5e5;
}

.dropzone .dropitem{
  visibility: hidden;
}

.lalala{
  min-height:200px;
  min-width:175px;
}

.deadlineOver{
  color: #ff6666;
}

.lazyTime{
  font-size: 14px;
}

.deadlineClose{
  color: #555;
}

h3, .boardTitles{
  font-size: 18px
}

.boardDescription{
  margin-bottom:25px;
}
