.dashboardBadge {
  font-size:14px;
}

.dashboardHeader{
  margin-bot:25px;
}

.notificationUser{
  font-weight:bold;
}

.notificationLayout{
  border-radius: 4px;
  border: #e7e7e7 solid 2px;
  padding:10px;
  margin-bottom: 15px;
  overflow:hidden;
}

.notificationLayout:hover{
  cursor: pointer;
  background-color: #f8f8f8;
}

.notificationAvatar{
  margin:0 auto;
  display:table;
}

.imageWidth{
  width:3.333333%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;}

.notificationWidth{
  width:96.666667%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
