.recentNotification{
  margin: 10px auto;
  border: #e7e7e7 solid 2px;
  border-radius:4px;
  padding:10px;
  background-color: #fff;
}

.avatarPlacement{
  vertical-align: middle;
}


.deleteButton{
  margin-top:10px;
}

.notificationsDiv{
  /*padding-right:4px;*/
  margin:0 auto;
}

.panelHeadingText{
  color:#4f4f4f;
}
