<div class="modal-header">
  <h3 class="modal-title">Create a new project!</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal" name="newprojectForm" ng-submit="newprojectForm.$valid && createProject(project)">
    <div class="form-group" show-errors="{showSuccess: true}">
      <label class="col-md-2 control-label">Name</label>
      <div class="col-md-10">
        <input type="text" class="form-control" name="projectNameField" placeholder="Project name" ng-model="project.name" required ng-minlength="2"
          ng-maxlength="75">
        <p class="help-block" ng-if="newprojectForm.projectNameField.$error.required">Last name is required.</p>

        <p class="help-block" ng-if="newprojectForm.projectNameField.$error.minlength">A project name needs to have at least 2
          characters.</p>
        <p class="help-block" ng-if="newprojectForm.projectNameField.$error.maxlength">A project name can have up to 75 characters.</p>
      </div>
    </div>
    <div class="form-group" show-errors="{showSuccess: true}">
      <label class="col-md-2 control-label">Description</label>
      <div class="col-md-10">
        <textarea type="text" class="form-control" name="projectNameField" placeholder="Project description" ng-model="project.description" required ng-minlength="5"
               ng-maxlength="1000" style="resize: none"></textarea>
        <p class="help-block" ng-if="newprojectForm.projectNameField.$error.required">Last name is required.</p>

        <p class="help-block" ng-if="newprojectForm.projectNameField.$error.minlength">A project name needs to have at least 5
          characters.</p>
        <p class="help-block" ng-if="newprojectForm.projectNameField.$error.maxlength">A project name can have up to 1000 characters.</p>
      </div>
    </div>
    <div class="form-group" >
      <label class="col-md-2 control-label">Collaborators</label>
      <div class="col-md-10">
        <ui-select multiple ng-model="project.collaborators" ng-disabled="disabled" theme="bootstrap">
          <ui-select-match placeholder="Select iets gast">{{$item}}</ui-select-match>
          <ui-select-choices repeat="username in allUsernames track by $index"
            refresh="getUsers($select.search)" refresh-delay="0">
            {{username}}
          </ui-select-choices>
        </ui-select>

        <!--<ui-select multiple ng-model="project.collaborators" theme="bootstrap" sortable="true">
          <ui-select-match placeholder="Invite collaborators">
            {{$item}}
          </ui-select-match>
          <ui-select-choices repeat="username in allUsernames track by $index"
            refresh="getUsers($select.search)" refresh-delay="0">
          </ui-select-choices>
        </ui-select>-->
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
