<div ng-init="getProjectInfo()">
  <h2>{{project.name}}</h2>

  <div class="col-md-3 pull-right">
    <div class="panel panel-default col-md-12 pull-right panelNoPadding">
      <div class="panel-heading">
        <div class="panel-title">
          <div class="row">
            <div class="col-md-6">
              <div style="padding-top:6px">
                Details
              </div>

            </div>
            <div ng-if="isLeader()" class="col-md-6">
              <div class="pull-right">
                <button type="button" ng-click="openDetailsModal()" class="btn btn-primary">Update</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div ng-if="project.deadline">
          <label>Deadline: </label>
          <span> {{project.deadline | date}}</span>
        </div>
        <div>
          <label>Name: </label>
          <span> {{project.name}}</span>
        </div>
        <div>
          <label>Description: </label>
          <span> {{project.description}}</span>
        </div>
      </div>
    </div>

    <div class="panel panel-default col-md-12 pull-right panelNoPadding">
      <div class="panel-heading">
        <div class="panel-title">
          <div class="row">
            <div class="col-md-6">
              <div style="padding-top:6px">
                Collaborators
              </div>

            </div>
            <div class="col-md-6">
              <div class="pull-right">
                <button type="button" ng-click="openModal()" class="btn btn-primary">Update</button>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div>
          <ul class="list-unstyled">
            <li>
              <i class="icon-f-crown"></i>
              <img src="{{leader.imageUrl}}" alt="Profile Picture" class="smallerAvatar"/>
              <span>{{leader.username}} <i class="icon-crown" style="vertical-align: middle"></i>
              </span>
            </li>
            <li ng-repeat="collab in collaborators" style="margin-top: 3px;margin-bottom:3px;">
              <img src="{{collab.imageUrl}}" alt="Profile Picture" class="smallerAvatar"/>
              <span>{{collab.username}}</span>
            </li>
          </ul>
        </div>

      </div>
    </div>
    <button type="button" ng-if="isLeader()" ng-click="deleteProject()" class="btn btn-danger btn-block">Delete project</button>
  </div>


</div>
