<ol class="breadcrumb breadCrumb" data-ng-init="getBoardInfo()">
  <li><a ng-href="#/dashboard">Dashboard</a></li>
  <li><a ng-href="#/project/{{board.projectId}}">Project</a></li>
  <li class="active">{{board.name|capitalize}}</li>
</ol>


    <h2>{{board.name|capitalize}} <button type="button" ng-click="openEditBoardModal()" class="btn btn-primary btn-sm"><i class="fa fa-pencil"> Edit</i></button>
      <div class="col-md-2 pull-right">
        <button type="button" class="btn btn-success btn-block" ng-click="openCreateTaskModal()"><i class="fa fa-plus-circle"></i> Task</button>
      </div>

    </h2>




<div class="col-md-12 noPaddingLeft noPaddingRight" >
  <div ng-repeat="state in board.states" class="well boardLayout col-md-{{columnWidth}}">
    <h4 class="marginBotDeleteButton">{{state.name}}</h4>

    <ul class="col-md-12 noPaddingLeft noPaddingRight"  style="list-style-type:none" as-sortable="taskSortOptions" ng-model="state.tasks">
      <li ng-repeat="task in state.tasks" as-sortable-item>
        <div as-sortable-item-handle class="panel panel-warning">
          <div class="panel-heading">
            <div class="panel-title">
              <a ng-href="#/project/{{board.projectId}}/board/{{board._id}}/task/{{task._id}}">{{task.identifier}} <span class="pull-right" ng-if="task.important"><i class="fa fa-flag"></i>
              </span></a>
            </div>
          </div>
          <div class="panel-body">
            {{task.title}}
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
