<ol class="breadcrumb breadCrumb" data-ng-init="getBoardInfo()">
  <li><a ng-href="#/dashboard">Dashboard</a></li>
  <li><a ng-href="#/project/{{board.projectId}}">Project</a></li>
  <li class="active">{{board.name|capitalize}}</li>
</ol>
<h2>{{board.name|capitalize}}
  <span class="lazyTime">- due:
    <span ng-if="lazyDate >0" am-time-ago="board.deadline" ng-class="{'deadlineClose':lazyDate>0}"></span>
    <span ng-if="lazyDate <0" am-time-ago="board.deadline" ng-class="{'deadlineOver': lazyDate <0}"></span>
  </span>

  <div class="pull-right col-md-3 noPaddingRight ">
    <button type="button" ng-if="isLeader()" ng-click="openEditBoardModal()"
            class="btn btn-primary pull-right btnMarginLeft"><i class="fa fa-pencil"> Edit board</i></button>
    <button type="button" class="btn btn-success pull-right" ng-click="openCreateTaskModal()"><i
      class="fa fa-plus-circle"></i> Task
    </button>
  </div>

</h2>

<div class="col-md-9 noPaddingLeft boardDescription">
  {{board.description}}
</div>
<div class="col-md-12 row" ng-if="board.tasks.length>0">
  <h3>Other Boards</h3>
  <div ng-repeat="projectBoard in projectboards" class="boardsLayout row" ng-style="{'width':100/projectboards.length+'%'}"  >
    <ul ng-model="otherBoardsTasks" as-sortable="taskSortOptions" is-disabled="true" style="list-style-type: none" class="noPaddingLeft">
      <li ng-repeat="board in otherBoardsTasks | limitTo:1" as-sortable-item>
        <div as-sortable-item-handle class="otherBoardsLayout">
          {{projectBoard.name}}
        </div>
      </li>
    </ul>
  </div>
</div>


<div class="col-md-12 noPaddingLeft noPaddingRight row">
  <div ng-repeat="state in board.states" class="stateLayout"
       ng-class="{'boardRightBorder': ($index+1)!=board.states.length}" ng-style="{'width':columnWidth}">
    <h3 class="marginBotDeleteButton boardTitles">{{state.name}}</h3>

    <ul class="col-md-12 noPaddingLeft noPaddingRight" style="list-style-type:none" as-sortable="taskSortOptions"
        ng-model="state.tasks">
      <li ng-repeat="task in state.tasks" as-sortable-item>
        <div as-sortable-item-handle class="panel panel-warning">
          <div class="panel-heading">
            <div class="panel-title">
              <a ng-href="#/project/{{board.projectId}}/task/{{task._id}}">{{task.identifier}} <span
                class="pull-right" ng-if="task.important"><i class="fa fa-flag"></i>
              </span></a>
            </div>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-2">
                <img ng-src="{{task.assignee.imageUrl}}" alt="afbeelding" class="smallAvatar">
              </div>
              <div class="col-md-10">
                <span class="taskTitle">{{task.title}}</span>
              </div>
              <div class="col-md-10">
                <span class="assignedTo">Assigned to: {{task.assignee.username}}</span>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
