<div class="panel panel-default col-md-9">
  <div class="dashboard-panel-left">
    <button type="button" ng-click="openModal()" class="btn-lg btn btn-success bigButton"><i class="fa fa-plus-circle fa-2x" style="vertical-align: middle;"></i> <span>New Project</span></button>
  </div>
</div>

<div class="col-md-3 panel panel-default pull-right panelNoPadding">
  <div class="panel-heading">
    Projects
  </div>
  <div class="panel-body">
    <ul class="nav nav-pills nav-stacked">
      <li><a ng-href=""></a></li>
    </ul>
  </div>
</div>


<div class="col-md-3 panel panel-default pull-right panelNoPadding">
  <div class="panel-heading">
    Pages
  </div>
  <div class="panel-body">
    <ul class="nav nav-pills nav-stacked">
      <li><a ng-href="#/invitecoworkers">Invite collaborators</a></li>
    </ul>
  </div>
</div>
