<div class="col-md-12">
  <div class="panel panel-info col-md-12">
    <figure class="col-md-4">
      <img class="img-center" src="images/profilepicture.jpg" alt="Profile Picture" height="200px" width="200px">
      <figcaption>
        {{user.username}}
      </figcaption>
    </figure>
    <div class="col-md-4">
      Invite coworkers komt hier
    </div>

  </div>
</div>
<div class="col-md-9"></div>
<div class="col-md-3 panel panel-default pull-right">
  <div class="panel-heading">
    Pages
  </div>
  <div class="panel-body">
    <ul class="nav nav-pills nav-stacked">
      <li><a ng-href="#/updateuser">Update user information</a></li>

    </ul>
  </div>

</div>
