<div class="jumbotron">
  <p class="lead">
    Welcome to the collaboration tool. Please register in order to create and manage a project.
  </p>

  <p><a class="btn btn-success" ng-href="#/register"><span class="fa fa-user-plus"> </span> Register!</a></p>
</div>

<div class="row marketing">
  <div class="col-md-4">
    <h4>Create projects</h4>
    <p>
      Create and manage your projects with our interactive management tool.
    </p>
  </div>
  <div class="col-md-4">
    <h4>Live feed</h4>
    <p>
      Enjoy a livefeed with all the action that is taking place in your project.
    </p>
  </div>
  <div class="col-md-4">

    <h4>Task Management</h4>

    <p>Manage every single task in your project</p>
  </div>


</div>
