<div class="jumbotron">
  <p class="lead" style="font-size: 42px">
    Register and start collaborating!
  </p>

  <a class="btn btn-success" ng-href="#/register"><span class="fa fa-user-plus"> </span> Register!</a>
</div>

<div class="row marketing">
  <div class="col-md-4 noPaddingLeft">
    <img src="../images/project.jpg" alt="Create projects" class="frontPageImage">
  <h4>Create projects</h4>
    <p>
      Create and manage your <strong>projects</strong> with our interactive management tool.
    </p>
  </div>
  <div class="col-md-4">
    <img src="../images/communication.jpg" alt="Live feed" class="frontPageImage">

    <h4>Live feed</h4>
    <p>
      Enjoy a <strong>livefeed</strong> with all the action that is taking place in your project.
    </p>
  </div>
  <div class="col-md-4 noPaddingRight">
    <img src="../images/task.jpg" alt="Manage tasks" class="frontPageImage">

    <h4>Task Management</h4>

    <p><strong>Manage</strong> every single <strong>task</strong> in your project.</p>
  </div>


</div>
