
<div class="col-md-12">
  <h2>Update profile settings</h2>
  <div class="col-md-2"></div>

  <form class="col-md-8 form-horizontal" name="updateUserForm"
        ng-submit="updateUserForm.$valid && updateUser(userinfotochange)" novalidate>
    <div class="form-group">
      <label for="firstname" class="col-md-3 control-label">First name</label>

      <div class="col-md-5">
        <input type="text" class="form-control" ng-model="userinfotochange.firstname" id="firstname"
               placeholder="New first name" required>
      </div>
    </div>
    <div class="form-group">
      <label for="lastname" class="col-md-3 control-label">Last name</label>

      <div class="col-md-5">
        <input type="text" class="form-control" ng-model="userinfotochange.lastname" id="lastname"
               placeholder="New last name" required>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-3 col-md-5">
        <button type="submit" class="btn btn-default" value="Update user">Update!</button>
      </div>
    </div>
  </form>
  <div class="col-md-2"></div>
  <div class="col-md-2"></div>

  <div ng-controller="UploadCtrl" class="col-md-8">
    <div class="btn btn-success col-md-offset-3" ng-file-select ng-model="files">Upload avatar</div>
  </div>
  <div class="col-md-2"></div>
</div>
