<ol class="breadcrumb breadCrumb" data-ng-init="getTaskInfo()">
  <li><a ng-href="#/dashboard">Dashboard</a></li>
  <li><a ng-href="#/project/{{projectId}}">Project</a></li>
  <li><a ng-href="#/project/{{projectId}}/board/{{boardId}}">Board</a></li>
  <li class="active">{{task.title|capitalize}}</li>
</ol>

<div class="col-md-9 noPaddingLeft">
  <h2>{{task.title|capitalize}} </h2>
  <div>
    <div class="taskDescription">
      {{task.description}}
    </div>
  </div>

  <div ng-if="task.comments.length > 0">
    <h4>
      <span>Comments</span>
    </h4>
    <div ng-repeat="comment in task.comments | limitTo:5">
      <div class="comment">
        <div class="commentHeader row">
          <div class="col-md-4">
            <img ng-src="{{comment.user.imageUrl}}" alt="profilepic" class="smallerAvatar"> {{comment.user.firstname}} {{comment.user.lastname}}
          </div>
          <div class="col-md-8 text-right commentDate">
            {{comment.timeStamp|date:'dd MMM yyyy HH:mm'}}
            <button ng-if="isCommentCreator(comment)" type="button" class="btn btn-primary btn-xs" ng-click="editText($index)"><i class="fa fa-pencil"></i> Edit</button>
            <button ng-if="isCommentCreator(comment)||isTaskCreator()" type="button" class="btn btn-danger btn-xs" ng-click="deleteComment(comment)"><i class="fa fa-trash"></i> Delete</button>


          </div>
        </div>

        <div ta-bind ng-model="comment.comment" class="commentBody" >{{comment.comment}}</div>
      </div>
    </div>
    <hr/>
  </div>



<!--<comment-form>

</comment-form>-->
  <h2>Preview</h2>
  <div ta-bind ng-model="comment"></div>

  <text-angular ta-toolbar="[['h1','h2','h3'],['bold','italics','underline'],['ul','ol'],['taskFind']]" ng-model="comment" id="editor"></text-angular>
  <button type="button" class="btn btn-success" ng-click="createComment(comment)"><i class="fa fa-comment-o"></i> Comment
  </button>
</div>
<div class="col-md-3 noPaddingRight">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <div class="row">
          <div class="col-md-6" style="padding-top:6px;">

            {{task.identifier}}
          </div>
          <div ng-if="isCreator()" class="col-md-6">
            <div class="pull-right">
              <button type="button" ng-click="openUpdateTaskModal()" class="btn btn-primary"><i class="fa fa-pencil"></i> Update</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <ul class="list-unstyled">
        <li>
          <label>Title: </label>
          <span>{{task.title}}</span>
        </li>
        <li>
          <label>State: </label>
          <span>{{task.state}}</span>
        </li>
        <li>
          <label>Deadline: </label>
          <span>{{task.deadline|date}}</span>
        </li>
        <li>
          <label>Assignee: </label>
          <img ng-src="{{task.assignee.imageUrl}}" alt="profilepic" class="smallerAvatar"> <span>{{task.assignee.firstname}} {{task.assignee.lastname}}</span>
        </li>
        <li>
          <label>Creator: </label>
          <img ng-src="{{task.creator.imageUrl}}" alt="profilepic" class="smallerAvatar"> <span>{{task.creator.firstname}} {{task.creator.lastname}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>


